<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo fal fa-bars" (click)="toggleCollapse()"></button>
        <div class="logo-text" @fadeInOut *ngIf="collapsed">Vehicle Trader</div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <div class="scrollwrap scrollwrap_delayed">
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item" *ngFor="let data of navData">
                <a class="sidenav-nav-link" (click)="handleClick(data)"
                    *ngIf="data.items && data.items.length > 0"
                    [ngClass]="getActiveClass(data)"
                >
                    <i class="sidenav-link-icon" [class]="data.icon"></i>
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        {{data.label}}
                    </span>
                    <i *ngIf="data.items && collapsed" class="menu-collapse-icon"
                        [ngClass]="!data.expanded ? 'fal fa-angle-left' : 'fal fa-angle-down'"
                    ></i>
                </a>
    
                <a class="sidenav-nav-link"
                    *ngIf="!data.items || (data.items && data.items.length === 0)"
                    [routerLink]="[data.routeLink]"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <i class="sidenav-link-icon" [class]="data.icon"></i>
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        {{data.label}}
                    </span>
                </a>
                <div *ngIf="collapsed && data.items && data.items.length > 0">
                    <app-sublevel-menu
                        [data]="data"
                        [collapsed]="collapsed"
                        [multiple]="multiple"
                        [expanded]="data.expanded"
                    ></app-sublevel-menu>
                </div>
            </li>
        </ul>
    </div>
    <div class="bottom-container">
        <hr>
        <button mat-icon-button>
            <i href="#collapsesideprofile" 
                class="dark-mode-icon fal fa-user" 
                data-bs-toggle="collapse">
            </i>
        </button>
    
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" id="collapsesideprofile">
            <li><a class="dropdown-item" href="profile">Profile</a></li>
            <li (click)="toggleDarkMode()">
                <button class="dropdown-item">{{isDarkModeText}}</button>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li (click)="signOut()"><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>